In [1]:
import pandas as pd
import numpy as np

In [2]:
raw_df = pd.read_csv('FourSquareData.csv')
df = raw_df.copy(deep=True)

In [3]:
# Some locations are just more dense than others, so I
# want to create an adjusted results count that shows
# if that location has a lot of results in a given
# category for that location.

for location_name in list(raw_df['location_name'].unique()):
    adjuster = df['results'].mean()/df[df['location_name']==location_name]['results'].mean()
    df.loc[df['location_name']==location_name,'adjuster']=adjuster

df['coverage']=df['results']*df['adjuster']

In [8]:
df[['location_name', 'category_id', 'category_label',
       'radius_miles', 'results', 'adjuster',
       'coverage']]

,location_name,category_id,category_label,radius_miles,results,adjuster,coverage
0,new_york_city,10000,Arts and Entertainment,1.0,87,0.507606,44.161757
1,new_york_city,10001,Arts and Entertainment > Amusement Park,1.0,15,0.507606,7.614096
2,new_york_city,10002,Arts and Entertainment > Aquarium,1.0,1,0.507606,0.507606
3,new_york_city,10003,Arts and Entertainment > Arcade,1.0,5,0.507606,2.538032
4,new_york_city,10004,Arts and Entertainment > Art Gallery,1.0,23,0.507606,11.674947
...,...,...,...,...,...,...,...
12325,austin,19065,Travel and Transportation > Cable Car,1.0,0,1.191347,0.000000
12326,austin,19066,Travel and Transportation > Train,1.0,0,1.191347,0.000000
12327,austin,19067,Travel and Transportation > Transportation Ser...,1.0,0,1.191347,0.000000
12328,austin,19068,Travel and Transportation > Transportation Ser...,1.0,0,1.191347,0.000000
12329,austin,19070,Travel and Transportation > Transport Hub > Ai...,1.0,0,1.191347,0.000000